#myProgress {
    width: 85%;
    background-color: grey;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: black;
    color: white;
    margin: 5%;
  }

.tracker-bottom {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 5%;
}

.textContent{
  font-family: Roboto;

}

body {
  background-color: #ACABB0;
}