<html>
    <head>
        <title>Walk the World How to Use</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="body">
        <script src="script.js"></script>
        <nav class="navbar navbar-expand-lg navbar-light bg-#ACABB0">
            <a class="navbar-brand" href="index.html"><img src="https://i.imgur.com/3SS3uKH.png" alt="Walk the World Icon" style="width:50px;height:50px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="howToUse.html">how to use</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tracker.html">tracker</a>
                    </li>
                </ul>
              
            </div>
        </nav>
        <div class = "padElement">
        <h1 class="text"> To experience the prize: </h1>
        <ol class="text">
            <li>Choose the mode you want to work in</li>
            <li>Enter the starting/ending point(s) as required by your mode</li>
            <li>Start walking!</li>
            <li>When you have walked enough steps, claim your prize!</li>
        </ol>
        <h1 class="text">Please keep in mind social distancing precautions:</h1>
        <ul class="text">
            <li>Maintain six feet of distance between yourself and others</li>
            <li>Avoid crowded areas</li>
            <li>Wear a mask or face covering</li>
            <li>Stay safe and have fun!</li>
        </ul>
        </div>
    </body>
</html>
