<!DOCTYPE html>
<html>
    <head>
        <title>Walk the World - Home</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </head>
    <body>
        <script src="script.js"></script>
        <nav class="navbar navbar-expand-lg navbar-light bg-#ACABB0">
            <a class="navbar-brand" href="index"><img src="https://i.imgur.com/3SS3uKH.png" alt="Walk the World Icon" style="width:50px;height:50px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="howToUse.html">how to use</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tracker.html">tracker</a>
                    </li>
                </ul>
              
            </div>
        </nav>
        <div class="tracker-bottom">
            <div>
                <a href="tracker.html"><button type="submit">Get new data!</button></a>
                <br><br>
                <h4 class="textContent"> Miles Left: {{completedMiles}}</h4><br>    
            </div>
        <h4>Name of Attraction: {{name}}</h2><br>
        <h4>Open Status : {{currentlyOpen}} </h3><br>
        <h4>Rating: {{rating}}</h4><br>
        <h4>Address: {{address}}</h4><br>
        <br><br>
        <div class="right">
            <h2 class="textContent">keep going!</h2>
            <h4 class="textContent"> Features coming soon: race friends, different modes, popular destinations, and more! </h4>
        </div>
    </div>
    </body>
</html>
 <div class="tracker-bottom">
            <div class="left">
                <a href="tracker.html"><button type="submit">Get new data!</button></a>
                <br><br>
                <h4 class="textContent"> Miles Left: {{completedMiles}}</h4><br>    
            </div>
        <h4>Name of Attraction: {{name}}</h2><br>
        <h4>Open Status : {{currentlyOpen}} </h3><br>
        <h4>Rating: {{rating}}</h4><br>
        <h4>Address: {{address}}</h4><br>
        <br><br>
        <div class="right">
            <h2 class="textContent">keep going!</h2>
            <h4 class="textContent"> Features coming soon: race friends, different modes, popular destinations, and more! </h4>
        </div>
    </div>
    </body>
</html>
 <div class="tracker-bottom">
            <div class="left">
                <a href="tracker.html"><button type="submit">Get new data!</button></a>
                <br><br>
                <h4 class="textContent"> Miles Left: {{completedMiles}}</h4><br>    
            </div>
        <h4>Name of Attraction: {{name}}</h2><br>
        <h4>Open Status : {{currentlyOpen}} </h3><br>
        <h4>Rating: {{rating}}</h4><br>
        <h4>Address: {{address}}</h4><br>
        <br><br>
        <div class="right">
            <h2 class="textContent">keep going!</h2>
            <h4 class="textContent"> Features coming soon: race friends, different modes, popular destinations, and more! </h4>
        </div>
    </div>
    </body>
</html>
